body, html {
    margin: 0;
    padding: 0;
    
}

* {
     box-sizing: border-box; 
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh; 
    background: rgb(8, 8, 8) 
    no-repeat center;
    background-size: 100px;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.load-wrapp {

    width: 100px;
    height: 100px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #8a898944;
    
  }

  .line {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: white;
    margin-left: 4px;
  }
  
  .load-wrapp p {
    padding: 0 0 0;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 13px;
    color: white;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
  }
  .load-wrapp:last-child {
    margin-right: 0;
  }

  .load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
  .load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
  .load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }

  .l-3 {
    animation-delay: 0.72s;
  }

  @keyframes loadingC {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  } 



#Nav-1 {
    border-bottom: 1px solid black;
    z-index: 20;
}


 .navbar {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
} 

.navb-0 {
    justify-content: end;
    height: 54px;
}

.navb-1 {
    line-height: 53px;
    color: white;
     display: inline-block;  
}

.navb-1:nth-of-type(2) {
    border-left: 1px solid #7E8080;
}

 .row {
    width: 100%;  
}

a {
    text-decoration: none!important;
    color: black;
}

.btn {
   font-size: 13px;
   
}

.btn span {
    padding: 7px;
}


.link-1 {
    color: #ACAEAF;
    font-size: 13px;
}

.link-1 span:nth-of-type(1) {
    font-size: 15px;
    font-weight: bolder;
}

.navb-1:nth-of-type(2) a:hover {
    color: white;
    text-decoration: none;
}


nav:nth-of-type(1) a {
    color: white;
}

 #bg-1 nav {
     position: fixed;
     padding-top: 4em;
     padding-bottom: 1em;  
     width: 100%;
     margin-left: 0;
     margin-right: 0;
     z-index: 10;
} 

.Nav-scroll {
   background-color: #343635;
}

.container {
  max-width: 1230px;
}

#bg-1 .navbar-brand {
     position: static ; 
    font-size: 2.8rem;
}

#bg-1 .navbar-brand i {
    color: #FA316E;
}

.navbar-toggler {
    border-color: rgba( 173, 173, 173, 1);
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(188, 188, 188, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


#bg-1 li {
    margin: 1em;
    border-bottom: 0 solid white;
    transition: all 0.09s;
    font-size: 14px;
    font-weight: 400;
}

#bg-1 li:hover {
    border-bottom: 2px solid white;
}

#bg-1 li.active  {
    border-bottom: 2px solid white;
}

.dropdown-menu {
    background: black;
    padding: 0;
    font-size: 14px;
    margin-top: 1em;
}

.dropdown-item:hover {
    background-color: #3D3D3D ;
    color: white;
}

.dropdown-item {
     border-bottom: 1px solid #2C2C2C ; 
     padding-top: 0.8em;
     padding-bottom: 0.8em;
     transition-property: background-color;
     transition-duration: 500ms;
}

.dropdown-item:last-of-type {
    border-bottom: none;
}

 .dropdown-item:first-of-type {
   border-top: 4px solid #FA316E;
} 


#bg-2 {
    background: black;
    width: 100%;
    padding: 100px 0;
}


.height-1 {
  height: 10%;
  top: 8em;
  padding-bottom: 2.5em;
  position: relative;
}

.inline h2 {
     font-size: 4rem; 
    font-weight: 200;
}

#bg-2 img {
    width: 90%;
    float: right;
    border-radius: 6px;
    z-index: 3;
    position: relative;
    top: 9rem;
}

#bg-3 {
    padding-top: 7rem;
}

 #bg-3 .row {
    margin-right: 0;
    margin-left: 0;
} 

.gallery-1 {
    display: grid;
    grid-template-columns: repeat(6, 16.3%);
    grid-template-rows: repeat(2, 43%);
    grid-gap: 6px;
    margin-left: 5px;
    margin-right: 5px;
}

.text-wrapper {
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 100%; 
    opacity: 0;
    transition-property: opacity;  
    transition-duration: 500ms;
}

.gallery-1 a {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute; 
}

 .img-1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.img-2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.img-3 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.img-4 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.img-9 {
    grid-column: 5/6;
    grid-row: 1/3;
}

.mouseover img {
    width: 100%;
    height: inherit; 
    object-fit: fill;
}

.mouseover {
    width: 100%;
    height: 100%;
}

#bg-4 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

 .button-group {
     width: inherit;
     text-align: center;
} 

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(224, 224, 224);
    color: black;
    border: 1px solid rgba(165, 165, 165, 0.219);
    border-radius: 0;
}

.nav-pills .nav-link {
    background-color: white;
    border: 1px solid rgba(165, 165, 165, 0.219);
    margin-left: 2px;
}

.nav-pills .nav-link:hover {
    color: black;
}


.button-group button:nth-of-type(2), .button-group button:nth-of-type(3), .button-group button:nth-of-type(4) {
    outline: 0;
}

.button-group button {
   background-color: white;
   border: 1px solid rgba(128, 128, 128, 0.171);
   font-size: 18px;
   padding: 10px;
   color: rgb(48, 47, 47);
   font-weight: 400;
}

#bg-4 .col-lg-3 img {
    width: 100%;
    height: auto;
}

#bg-4 .row:nth-of-type(2), #bg-4 .row:nth-of-type(3), #bg-4 .row:nth-of-type(4), #bg-4 .row:nth-of-type(5) {
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
}

.tab-content {
    margin-top: 3rem;
}

.branding-paragragh {
   font-size: 18px;
}

#bg-4 .row .col-xl-6 {
    align-self: center;
}

#bg-4 .row .col-xl-6 a button {
    background-color: rgb(255, 102, 128);
    color: white;
    border: none;
    font-size: 14px;
    padding: 15px 25px;
    border-radius: 5px;
} 

.bg-2 {
    background: #f5f5f5;
    padding: 100px 0;
}

.h4-width {
    width: 50%;
}

.bg-2 .row {
    width: 50%;
    margin-top: 3rem;
    margin-right: 0;
}

.inline-2 {
    display: inline-block;
}

.inline-2 i {
    color: #FA316E;
    font-size: 30px;
    margin-bottom: 2rem;
}

.inline-2 h4 {
    font-size: 20px;
}

.p-width {
    width: 50%;
}

.inline-2 p {
    width: 100%;
}

.bg-2 img {
    width: 600px;
    position: absolute;
    left: 60%;
}

#bg-5 {
    margin-top: 50px;
    margin-bottom: -120px;
    z-index: 2;
    padding: 0 10px;
}

#bg-5 .container {
    background-color: #FA316E;
    padding: 2.8rem;
    z-index: 3;
    position: relative;
    top: 2rem;
}

 .inline-3 {
    width: 100%; 
} 

 .inline-3 a {
    text-decoration: none;
    float: right;
    color: white;
    border: 2px solid rgba(247, 242, 246, 0.5);
    border-radius: 5px;
    font-size: 16px;
    padding: 14px 28px;
    margin-top: -10px;
    background-color: rgba( 255, 255, 255, 0);
    transition-property: background-color, color;
    transition-duration: 500ms;
} 

.inline-3 a:hover {
    color: #545354;
    background-color: rgba(247, 242, 246, 1);
}

footer {
    background-color: #f5f5f5;
}

footer svg {
    display: block;
    position: absolute;
    transform: rotate(180deg) scaleX(-1); 
}

footer .row {
    margin: 0;
    padding: 0 10px;
}

.width-2 {
    width: 25%;
    margin-top: 200px;
    margin-bottom: 100px;
}

footer h4 {
    font-size: 17px;
}

 #footer-address p {
   width: 60%;
} 

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

footer ul li {
    padding-bottom: 5px;
}

footer ul li a{
    text-decoration: none!important;
    color: black;
    position: relative;
    font-size: 13px;
}

footer ul li a::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    border-bottom: 1px solid black;
    transition-property: width;
    transition-duration: 250ms;
}

footer ul li a:hover::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
}

 footer ul li a:hover {
    color: black;
} 


@media (max-width: 1359px) {
    .gallery-1 {
        display: grid;
        grid-template-columns: repeat(5, 19.6%);
        grid-template-rows: repeat(3, 32%);
        grid-gap: 6px;
        margin-left: 8px;
    }

}

@media (max-width: 1199px) {

.gallery-1 {
        display: grid;
        grid-template-columns: repeat(5, 24.5%);
        grid-template-rows: repeat(3, 32%);
        grid-gap: 6px;
        margin-left: 8px;
}

  .img-3 {
     grid-column: 1/2;
     grid-row: 3/4;
  }

  .img-6 {
      grid-column: 3/4;
      grid-row: 3/4;
  }

  .img-7 {
      grid-column: 4/5;
      grid-row: 2/3;
  }

  .img-8 {
      grid-column: 4/5;
      grid-row: 3/4;
  }

  .img-9 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
}


@media (max-width: 991px) {

    

    .gallery-1 {
        display: grid;
        grid-template-columns: repeat(3, 32.7%);
        grid-template-rows: repeat(4, 23%);
        grid-gap: 6px;
        margin-left: 8px;
}

.img-3 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.img-5 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.img-6 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.img-7 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.img-8 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.img-9 {
    grid-column: 1/2;
    grid-row: 3/5;
}


    #bg-2 img {
        width: 90%;
        float: right;
        border-radius: 6px;
        z-index: 3;
        position: relative;
        top: 9rem;
        display: none;
    }

    .inline {
        display: inline-block;
        width: 100%;
    } 

     #bg-4 .row:nth-of-type(2) {
        margin-right: 0;
        width: initial;
    }

    #bg-4 .row .col-lg-3 {
        padding-right: 0;
    }

    #bg-1 ul {
        background: black;
        text-align: center;
    }

    #bg-1 li {
        border-bottom: 1px solid #3B3839 ; 
        margin: 0;
        padding: 0.5em;
        font-size: 14px;
    }

    

    #bg-1 li a {
        transition-property: color;
        transition-duration: 250ms;
    }

    #bg-1 li a:hover {
        color: #FA316E;
    }

     #bg-1 li:hover {
         border-bottom: 1px solid #3B3839; 
    } 

    #bg-1 li:last-of-type {
        display: none;
    }

    #bg-1 li:nth-of-type(5) {
        margin-bottom: 0;
    }

    .inline-2 {
        width: 100%;
    }

    .h4-width {
        width: 100%;
    }

    .p-width {
        width: 100%;
    }

    .bg-2 .row {
        width: 100%;
    }
    
    .inline-2 p {
        width: 100%;
    }

    .p-width {
        width: 100%;
    }

    .width-2 {
        width: 50%;
    }

     .width-2:nth-of-type(3) {
        margin-top: 0;
    }

    .width-2:last-of-type {
        margin-top: 0;
    }


}

@media (max-width: 767px) {
    .gallery-1 {
        display: grid;
        grid-template-columns: repeat(2, 49.3%)!important;
        grid-template-rows: repeat(7, 16%);
        grid-gap: 6px;
        margin-left: 8px;
  }

  .img-3 {
      grid-column: 2/3;
      grid-row: 5/6;
  }

  .img-4 {
      grid-column: 2/3;
      grid-row: 2/4;
  }

  .img-5 {
      grid-column: 1/2;
      grid-row: 3/4;
  }

  .img-6 {
      grid-column: 2/3;
      grid-row: 6/7;
  }

  .img-7 {
      grid-column: 2/3;
      grid-row: 4/5;
  }

  .img-8 {
      grid-column: 1/2;
      grid-row: 6/7;
  }

  .img-9 {
      grid-column: 1/2;
      grid-row: 4/6;
  }

  .inline-3 {
    text-align: center;
 }      

   .inline-3 a {
    float: none;
    display: block;
    margin-top: 20px;
 }
 
 .width-2 {
     width: 100%;
     margin-bottom: 0;
 }

 .width-2:nth-of-type(2), .width-2:nth-of-type(3), .width-2:nth-of-type(4) {
     margin-top: 12px;
 }

 #footer-address p {
     width: 200px;
 }

 .width-2:last-of-type {
     margin-bottom: 100px;
 }
 
}

@media (max-width: 645px) {

    #bg-4 .row:nth-of-type(1) {
        margin-right: 0%;
        margin-left: 0%;
    }

    .button-group button {
        font-size: 14px;
    }
}

@media (max-width: 568px) {
    .link-1 span:nth-of-type(2) {
        display: none;
    } 
}

@media (max-width: 499px) {

    #bg-2 h2 {
       font-size: 50px;
    }

    .gallery-1 {
        display: grid;
        grid-template-columns: repeat(2, 48.5%)!important;
        grid-template-rows: repeat(12, 8%);
        grid-gap: 6px;
        margin-left: 8px;
  } 

  .img-1 {
      grid-column: 1/3;
  }

  .img-2 {
      grid-column: 1/3;
      grid-row: 3/4;
  }

  .img-3 {
      grid-column: 1/3;
      grid-row: 10/11;
  }

  .img-4 {
      grid-column: 1/3;
      grid-row: 4/6;
  }

  .img-5 {
      grid-column: 1/3;
      grid-row: 6/7;
  }

  .img-6 {
      grid-column: 1/3;
      grid-row: 11/12;
  }

  .img-7 {
    grid-column: 1/3;
    grid-row: 9/10;
}

.img-8 {
    grid-column: 1/3;
    grid-row: 12/13;
}

  .img-9 {
      grid-column: 1/3;
      grid-row: 7/9;
  }

  .button-group button {
    font-size: 12px;
}

/* .test {
    background-color: ;
} */
  
}

@media (max-width: 388px) {
    #bg-2 h2 {
        font-size: 30px;
    }
}